{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main-index.css') }}">
{% endblock %}

{% block main %}
<div class="px-md-4 py-md-5 text-center hero">
  <div class="text-bg rounded p-3 p-sm-5">
    <h3 class="display-4 fw-bold text-body-emphasis">Transform Your Landscaping Business with OpenSprouts!</h3>
    <div class="container mx-auto">
      <p class="lead mb-4 mx-md-4 text">Join the waitlist for early access to the innovative platform designed for landscapers.</p>
      <form action="{{ url_for('main.add_to_waitlist') }}" method="post">
        <div class="row g-3 align-items-center justify-content-center">
          <div class="col-auto">
            <input name="email" type="email" class="form-control-lg waitlist-input" placeholder="Email Address" aria-label="Email Address" aria-describedby="topBtn" required>
          </div>
          <div class="col-auto mb-3 mb-sm-0">
            <button id="topBtn" type="submit" class="btn btn-primary btn-lg px-4 gap-3">Join the Waitlist Now</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container text-center introduction">
  <h2 class="intro-text mb-4">OpenSprouts is here to revolutionize the way landscapers connect with clients, manage projects, and grow their businesses.</h2>
  <h2 class="intro-text">Whether you're a seasoned pro or just starting, our platform offers tools and resources tailored to your needs.</h2>
</div>
<div class="container-fluid features">
  <div class="container">
    <h2 class="text-center text-white">Features Designed for Landscapers</h2>
  </div>
    <div class="container row py-4 mx-auto">
    {% for feature in features %}
      <div class="col-xl-3 align-self-center card-col">
        <div class="card mx-3 my-3" style="width: 16rem; height: 21rem;">
          <img src="{{ url_for('static', filename=feature.imgsrc) }}" class="card-img-top cardImg mx-auto p-3 align-items-center" alt="{{ feature.title }}">
          <div class="card-body text-center d-flex flex-column">
            <h5 class="card-title mt-auto">{{ feature.title }}</h5>
            <p class="card-text {% if loop.first %}mb-4 {% endif %}">{{ feature.text }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
<div class="container-fluid testimonials mb-5">
  <div class="container text-center mb-3">
    <h1>What People Are Saying</h1>
  </div>
  <div class="container-fluid d-block d-md-none mb-5">
    <div class="row py-4">
      {% for quote in quotes %}
      <div class="col-12 my-3">
        <div class="card">
          <div class="card-body">
            <i><h3 class="card-title quote">{{ quote.quote }}</h5></i>
            <i><h5 class="card-subtitle my-3 text-end text-muted author">&mdash; {{ quote.author }}</h6></i>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div id="carouselFade" class="carousel slide carousel-fade mb-5 d-none d-md-block" data-bs-ride="carousel">
    <div class="carousel-inner container-fluid">
    {% for quote in quotes %}
      <div class="carousel-item {% if loop.first %}active {% endif %} d-grid gap-2 d-sm-flex justify-content-sm-center">
        <div class="card mb-5 carousel-card" style="width: 64rem;">
          <div class="card-body">
            <i><h3 class="card-title quote">{{ quote.quote }}</h5></i>
            <i><h5 class="card-subtitle my-3 text-end text-muted author">&mdash; {{ quote.author }}</h6></i>
          </div>
        </div>
      </div>
    {% endfor %}
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true" id="prev-btn"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselFade" data-bs-slide="next" id="next-btn">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
<div class="container-fluid cta p-2 p-md-5 my-md-5">
  <div class="container mx-auto text-center card-bg rounded p-2 my-4 p-md-5 my-md-5">
    <h1>Don’t Miss Out!</h1>
    <div class="container my-4">
      <h4 class="my-4">Be one of the first to experience OpenSprouts and transform your landscaping business.</h4>
      <h4>Sign up for our waitlist today!</h4>
    </div>
    <div class="container">
      <form action="{{ url_for('main.add_to_waitlist') }}" method="post">
        <div class="row g-3 align-items-center justify-content-center">
          <div class="col-auto">
            <input name="email" type="email" class="form-control-lg waitlist-input" placeholder="Email Address" aria-label="Email Address" aria-describedby="bottomBtn" required>
          </div>
          <div class="col-auto">
            <button id="bottomBtn" type="submit" class="btn btn-primary btn-lg px-4 gap-3">Join the Waitlist Now</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid questions mx-auto">
  <div class="container text-center pt-4 mb-5 mt-3">
    <h3>Have Questions?</h3>
  </div>
  <div class="accordion mx-auto" id="accordion">
    {% for question in questions %}
    <div class="accordion-item">
      <h1 class="accordion-header" id="{{ question.headingId }}">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ question.collapseId }}" aria-expanded="false" aria-controls="{{ question.collapseId }}">
          {{ question.question }}
        </button>
      </h1>
      <div id="{{ question.collapseId }}" class="accordion-collapse collapse" aria-labelledby="{{ question.headingId }}" data-bs-parent="#accordion">
        <div class="accordion-body">
          {{ question.answer }}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}