{% extends 'base.html' %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main-index.css') }}">
{% endblock %}

{% block main %}
<div class="container">
  <div class="px-4 py-5 my-5 text-center hero">
    <h3 class="display-5 fw-bold text-body-emphasis">Transform Your Landscaping Business with OpenSprouts!</h3>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Join the waitlist for early access to the innovative platform designed for landscapers.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Join the Waitlist Now</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}