FLASK_APP = application.py
CONFIG_TYPE = config.DevelopmentConfig
DB_USER = db
DB_PASSWORD = password
DB_HOST = db:5432
DB_SCRIPT_HOST = localhost
DB_NAME = opensprouts
EMAIL_FROM = test@example.com
EMAIL_FROM_PASSWORD = password
EMAIL_TO = tester@example.com
EMAIL_SUBJECT = Insert Subject Here