/* Add style as you like. */
.hero {
    background-image: url('../img/dan-stephens.jpg');
    height: 80vh;
    background-position: center -100px;
    background-size: cover;
    background-repeat: no-repeat;

}
.text-bg {
    background-color: rgba(255, 255, 255, 0.9);
}
.text {
    font-size: 24px;
}
.btn {
    background-color: #118B44;
    border-color: #118B44;
}
.btn:hover {
    background-color: #212E1D;
    border-color: #118B44;
}
.introduction {
    padding: 6rem 0;
}
.features {
    padding: 10rem 0;
    background-color: #118B44;
}
.testimonials {
    padding: 2rem 0;
}
.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23118B44' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}  
.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23118B44' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
.carousel {
    padding: 5rem 0;
}
.author {
    position: relative;
    right: -45rem;
}
.cta {
    padding: 5rem;
    background-color: #118B44;
    color: #000;
}
.card-bg {
    background-color: #fff;
    width: 64rem;
}
#accordion {
    max-width: 64rem;
}
.accordion {

}