.bg {
    background-image: url(../img/waitlistBg.jpeg);
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.white-bg {
    background-color: rgba(255, 255, 255, 0.9);
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.next-list {
    list-style: none;
}
.share-btns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 1rem 0;
}
.larger-text {
    font-size: 1.25rem;
}