{% from "./macros.html" import nav_link with context %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <!-- SEO -->
  <meta name="title" content="{{ title }} | OpenSprouts">
  <meta name="author" content="OpenSprouts">
  <meta name="description" content="OpenSprouts is the all-in-one plant encyclopedia and landscaping virtualization experience.">
  <meta name="keywords" content="Add your own keywords">
  {% block meta %}{% endblock %}
  <title>{{ title }} | OpenSprouts</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='img/site.webmanifest') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <!-- Hotjar Tracking Code for https://www.opensprouts.com -->
  <script>
    (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:5175708,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
  {% block css %}{% endblock %}
</head>
<body>
  {% block plugins %}{% endblock %}
  <!-- Header / Navbar Section -->
  <header class="py-2 shadow-sm">
    <div class="container-sm">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('main.show_index') }}">
            <img src="{{ url_for('static', filename='img/OpenSproutsHoriztontal.png') }}" height="75px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item mx-auto">
                <a class="nav-link" href="https://www.instagram.com/opensprouts?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
                  <img class="logos" src="{{ url_for('static', filename='img/instagram.png') }}">
                </a>
              </li>
              <li class="nav-item mx-auto">
                <a class="nav-link" href="https://x.com/opensprouts" target="_blank">
                  <img class="logos" src="{{ url_for('static', filename='img/twitter.png') }}">
                </a>
              </li>
              <li class="nav-item mx-auto">
                <a class="nav-link" href="https://www.pinterest.com/opensprouts/" target="_blank">
                  <img class="logos" src="{{ url_for('static', filename='img/pinterest.png') }}">
                </a>
              </li>
              <li class="nav-item mx-auto">
                <a class="nav-link" href="https://www.youtube.com/channel/UCW3EVXSGKipTQ5AImVfQbqg" target="_blank">
                  <img class="logos" src="{{ url_for('static', filename='img/youtube.png') }}">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>

  <!-- Main Section -->
  <main role="main" style="min-height: 90vh;">
    {% block main %}{% endblock %}
  </main>

  <!-- Footer Section -->
  <footer class="text-white">
    <div class="container-fluid footer-nav">
      <ul class="nav col justify-content-center align-items-center py-4 px-2">
        <li class="nav-item mx-4">© 2024 OpenSprouts</li>
        <li class="nav-item">Have more questions? Contact us at <a class="email-link" href="mailto:contact@opensprouts.com">contact@opensprouts.com</a></li>
        <li class="nav-item socials">
          <div class="container d-flex">
            <a class="nav-link" href="https://www.instagram.com/opensprouts?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" target="_blank">
              <img class="logos" src="{{ url_for('static', filename='img/instagramWhite.png') }}">
            </a>
            <a class="nav-link" href="https://x.com/opensprouts" target="_blank">
              <img class="logos" src="{{ url_for('static', filename='img/twitterWhite.png') }}">
            </a>
            <a class="nav-link" href="https://www.pinterest.com/opensprouts/" target="_blank">
              <img class="logos" src="{{ url_for('static', filename='img/pinterestWhite.png') }}">
            </a>
            <a class="nav-link" href="https://www.youtube.com/channel/UCW3EVXSGKipTQ5AImVfQbqg" target="_blank">
              <img class="logos" src="{{ url_for('static', filename='img/youtubeWhite.png') }}">
            </a>
          </div>
        </li>
      </ul>
    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/base.js') }}"></script>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  {% block js %}{% endblock %}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</body>
</html>